@model List<BlogViewModel>

@{
    
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<head>


    <!-- Bootstrap CSS -->
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Blog/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Blog/css/owl.carousel.min.css">

    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/Blog/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/Blog/css/slick.css">
    <link rel="stylesheet" href="~/Blog/css/gijgo.min.css">
    <link rel="stylesheet" href="~/Blog/css/nice-select.css">

    <!-- style CSS -->
    <link rel="stylesheet" href="~/Blog/css/BlogStyle.css">
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">

    <style>
        .small-screen .pagination .page-link {
            padding: 0.25rem 0.5rem;
            font-size: 1.5rem;
        }

        .small-screen .pagination .page-item {
            margin: 0 0.1rem;
        }

    </style>
</head>

<body>
    <!--::header part start::-->
    <!-- Header part end-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-size:48px">Blog</h2>
                            <p class="breadcrumbs"><span class="mr-2"><a href="/" style="font-size:17px;  color:black;">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span style="font-size:17px">Bloglar<i class="ion-ios-arrow-forward"></i></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================Blog Area =================-->

    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">

                        @foreach (var item in Model)
                        {
                            var imagePath = string.IsNullOrEmpty(item.ImageUrl) ? "Images/blogDef.jpg" : "Images/Blogs/" + item.ImageUrl;
                            // Veritabanındaki yolun geçerli olup olmadığını kontrol eden bir fonksiyon yazmak zor olabilir.
                            // Bu nedenle resmin yüklenememesi durumunda da bir default resim gösterebiliriz.
                            <div class="col-md-6">
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <div class="image-container" style="width: 373.03px; height: 279.77px;">
                                            <img class="card-img rounded-0" src="@imagePath" alt="blog resmi" style="width: 373.03px; height: 279.77px;" onerror="this.onerror=null;this.src='Images/blogDef.jpg';">
                                        </div>
                                        <a href="#" class="blog_item_date">
                                            <h3>@item.CreatedDateDays</h3>
                                            <p>@item.CreatedDateMonths</p>
                                        </a>
                                    </div>
                                    <div class="text-container" style="width: 373.03px; height: 463.89px; ">
                                        <div class="blog_details">
                                            <a class="d-inline-block" href="/@item.SeoUrl">
                                                <h2>@item.Title</h2>
                                            </a>
                                            <p>
                                                @Html.Raw(@item.Description)...
                                            </p>
                                            <ul class="blog-info-link">
                                                <li><a><i class=""></i> Yazar</a></li>
                                                <li><a href="/@item.AuthorSeoUrl"><i class="far fa-user"></i> @item.Author</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                </article>
                            </div>
                        }






                    </div>



                    <div class="col-lg-8">
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { categoryid = ViewBag.CategoryId, pageNumber = ViewBag.PageNumber - 1 })">
                                        <i class="ion-ios-arrow-back"></i>
                                    </a>
                                </li>

                                @if (ViewBag.PageNumber >= 4 && ViewBag.PageNumber < ViewBag.TotalPages - 1)
                                {
                                    @for (int i = ViewBag.PageNumber - 2; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
                                    {
                                        <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { categoryid = ViewBag.CategoryId, pageNumber = i })">@i</a>
                                        </li>
                                    }
                                }
                                @if (ViewBag.PageNumber >= ViewBag.TotalPages - 1)
                                {
                                    @for (int i = ViewBag.PageNumber - 3; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
                                    {
                                        <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { categoryid = ViewBag.CategoryId, pageNumber = i })">@i</a>
                                        </li>
                                    }
                                }
                                @if (ViewBag.PageNumber < 4)
                                {
                                    @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalItems / ViewBag.PageSize); i++)
                                    {
                                        <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { categoryid = ViewBag.CategoryId, pageNumber = i })">@i</a>
                                        </li>
                                    }
                                }
                                <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { categoryid = ViewBag.CategoryId, pageNumber = ViewBag.PageNumber + 1 })">
                                        <i class="ion-ios-arrow-forward"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>



                </div>

                

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <!--  Ara -->
                        @await Component.InvokeAsync("_SearchBlogPartial")
                        <!--  Blog Kategorileri -->
                        @await Component.InvokeAsync("_BlogCategoryPartial")
                        <!--  Son Bloglar -->
                        @await Component.InvokeAsync("_RecentBlogPartial")
                        <!--  Son Bloglar -->
                        @await Component.InvokeAsync("_SuscribeToNewsletter")






                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <!-- jquery plugins here-->
    <!-- jquery -->

    <script>
    function adjustPagination() {
        var screenWidth = window.innerWidth;
        var pagination = document.querySelector('.pagination');
        var pageItems = pagination.querySelectorAll('.page-item');
        var body = document.body;

        if (screenWidth <= 1024) {
            body.classList.add('small-screen');
            
            // En fazla 5 buton göstermek için sayfa numaralarını gizle
            for (var i = 1; i < pageItems.length - 1; i++) {
                if (i > 5) {
                    pageItems[i].style.display = 'none';
                } else {
                    pageItems[i].style.display = 'inline';
                }
            }
        } else {
            body.classList.remove('small-screen');

            // Tüm sayfa numaralarını göster
            for (var i = 1; i < pageItems.length - 1; i++) {
                pageItems[i].style.display = 'inline';
            }
        }
    }

    window.onload = adjustPagination;
    window.onresize = adjustPagination;
</script>


    <script src="~/Blog/js/jquery-1.12.1.min.js"></script>

    <script src="~/Blog/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/Blog/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Blog/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/Blog/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/Blog/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/Blog/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/Blog/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="~/Blog/js/slick.min.js"></script>
    <script src="~/Blog/js/gijgo.min.js"></script>
    <script src="~/Blog/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/Blog/js/custom.js"></script>

    @* <script>
    document.addEventListener("DOMContentLoaded", function () {
    var blogDetailsElements = document.querySelectorAll('.blog_details');

    var maxHeight = 0;
    blogDetailsElements.forEach(function (element) {
    var elementHeight = element.offsetHeight;
    maxHeight = Math.max(maxHeight, elementHeight);
    });

    blogDetailsElements.forEach(function (element) {
    element.style.height = maxHeight + 'px';
    });
    });
    </script>*@


</body>

