@model BlogDTO
@{
    ViewData["Title"] ="Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- Bootstrap CSS -->
   @* <link rel="stylesheet" href="css/bootstrap.min.css">*@
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Blog/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Blog/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="~/Blog/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/Blog/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/Blog/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/Blog/css/slick.css">
    <link rel="stylesheet" href="~/Blog/css/gijgo.min.css">
    <link rel="stylesheet" href="~/Blog/css/nice-select.css">
    <link rel="stylesheet" href="~/Blog/css/all.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/Blog/css/style.css">
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">
</head>


<body>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-size:48px">@Model.BlogTitle</h2>
                            <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index" style="font-size:17px; color:black;">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span><a style="font-size:17px;  color:black;" href="/Blog/Index">Bloglar</a><i class="ion-ios-arrow-forward"></i></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                             @if (Model.BlogPhoto == null)
                                    {
                                        <img class="card-img rounded-0" src="~/Blog/img/blog/single_blog_1.png" alt="">
                                    }
                            @if (Model.BlogPhoto != null)
                                    {
                                <img class="card-img rounded-0" src="@Model.BlogPhoto" alt="">
                                    }
                        </div>
                        <div class="blog_details">
                            <h2>
                                @Model.BlogTitle
                            </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a asp-action="AboutMe" asp-controller="About" asp-route-id="@Model.AuthorId"><i class="far fa-user"></i> @Model.AuthorFullName</a></li>
                                
                            </ul>
                            <p>@Model.BlogDescription</p>

                          @Html.Raw(@Model.BlogContent)
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                           
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            
                        </div>
                        <!--  Önceki Sonraki -->
                        @await Component.InvokeAsync("_LastPrevBlogPartial",Model.BlogId)

                    </div>
                    
                    <!--  Yorumlar -->
                    @await Component.InvokeAsync("_BlogCommentsGetAllPartial",Model.BlogId)

                    <!--  Yorum Yap -->
                    @await Html.PartialAsync("~/Views/BlogComment/AddComment.cshtml")

                </div>
                <div class="col-lg-4">

                  
                    <div class="blog_right_sidebar">
                        <!--  Ara -->
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Ara'
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ara'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ion-ios-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1" type="submit">Ara</button>
                            </form>
                        </aside>

                        <!--  Blog Kategorileri -->
                        @await Component.InvokeAsync("_BlogCategoryPartial")
                        <!--  Son Bloglar -->
                        @await Component.InvokeAsync("_RecentBlogPartial")
                        
                    
                       
                        <!--  Bültene Abone Ol -->
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Bültene Abone Olun</h4>
                            <p>Yayınlanan Blogları Kaçırmayın</p>
                            <hr />
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'E Posta adresinizi yazın'" placeholder='E Posta adresinizi yazın' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                        type="submit">
                                    Abone Ol
                                </button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area end =================-->
    <!-- jquery -->
    <script src="~/Blog/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="j~/Blog/s/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Blog/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/Blog/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/Blog/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/Blog/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/Blog/js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="~/Blog/js/slick.min.js"></script>
    <script src="~/Blog/js/gijgo.min.js"></script>
    <script src="~/Blog/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/Blog/js/custom.js"></script>
</body>
