@model UserForTeamDTO

@{
    ViewData["Title"] = Model.FullName;
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<head>
    

    <!-- Vendor CSS Files -->
   
    <link href="~/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
   
    <link href="~/NiceAdmin/assets/css/style1.css" rel="stylesheet">
</head>


<main id="main" class="main">

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    @if (Model.ProfliePhoto != null)
                    {
                            <img src="~/Images/ProfilePhotos/@Model.ProfliePhoto" alt="Profil foto" class="my-rounded-circle">
                    }

                        @if (Model.ProfliePhoto == null)
                    {
                        <img src="~/Images/ProfilePhotos/default.png" alt="Profil foto" class="rounded-circle">
                    }


                    <h2>@Model.FullName</h2>
                    <h3>@Model.Profession</h3>
                    <div class="social-links mt-2">
                        @if (Model.Twitter != null)
                        {
                            <a href="@Model.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                        }
                        @if (Model.Facebook != null)
                        {
                            <a href="@Model.Facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                        }
                        @if (Model.Instagram != null)
                        {
                            <a href="@Model.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                        }
                        @if (Model.Linkedln != null)
                        {
                            <a href="@Model.Linkedln" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        }



                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button style="font-size:18px" class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Hakkımda</button>
                        </li>

                       

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title"></h5>
                            <p style="font-size:15px" class="small fst-italic">@Model.AboutUser</p>

                            <h5 class="card-title">Detay</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Tam Ad</div>
                                <div class="col-lg-9 col-md-8">@Model.FullName</div>
                            </div>
       
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Telefon</div>
                                    <div class="col-lg-9 col-md-8"><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">E Posta Adresi</div>
                                    <div class="col-lg-9 col-md-8"><a href="mailto:@Model.Mail">@Model.Mail</a></div>
                            </div>

                        </div>



                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>




</main>










<!-- Template Main JS File -->
<script src="~/NiceAdmin/assets/js/main.js"></script>







