@using Business.Constants;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>


    <link rel="icon" href="~/AboutContact/images/favicon.ico" type="image/x-icon">
    @* <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic%7CLato:300,300italic,400,400italic,700,900%7CMerriweather:700italic">*@
    <link rel="stylesheet" href="~/css/fontsabout.css">
    @*    <link rel="stylesheet" href="~/css/bootstrapabout.css">*@
    @*<link rel="stylesheet" href="~/css/styleabout.css">*@
    <link href="~/css/css/aboutstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">


</head>
<body>

    <div class="page">
        
        <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(/AboutContact/images/bg-image-1.jpg);">
            <div class="container">
                <div class="">
                    <h2>Hakkımızda</h2>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>Hakkımızda<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </section>
        <!--Biz kimiz ve progress barlar-->
        <section class="section-66 section-md-90 section-xl-bottom-120">
            <div class="container">
                <h3>@ViewBag.v1.WhoWeAreTitle</h3>
                <div class="row row-40 justify-content-xl-between align-items-lg-center">
                    <div class="col-md-12 col-xl-5 text-secondary">
                        <div class="inset-md-right-15 inset-xl-right-0">
                            <p>
                                @ViewBag.v1.WhoWeAreContent
                            </p>

                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <ul class="list-progress">
                            <li>
                                <p class="animated fadeIn">Trafik Kazaları</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-sisal" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                            <li>
                                <p class="animated fadeIn">Sigorta Hukuku</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-laser" data-value="89" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                            <li>
                                <p class="animated fadeIn">Ceza Hukuku</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-fuscous-gray" data-value="87" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                            <li>
                                <p class="animated fadeIn">Yaralanma Davaları</p>
                                <div class="progress-bar-js progress-bar-horizontal progress-bar-leather" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </section>
        <!--Ekip-->
        <section class="section-60 section-lg-90 bg-whisper">
            <div class="container">
                <div class="row row-40 align-items-sm-end">

                    @await Component.InvokeAsync("_TeamPartial")

                    <div class="col-sm-6 col-md-12 col-lg-3 text-center">
                        <div class="block-wrap-1">
                            <div class="block-number"></div>
                            <h3 class="text-normal">Alanında</h3>
                            <p class="h5 h5-smaller text-style-4">Uzman</p>
                            <p>@ViewBag.v1.TeamText</p><a class="link link-group link-group-animated link-bold link-secondary" href="/@UrlConstants.Contact"><span>İletişim</span><span class="novi-icon icon icon-xxs icon-primary fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Hakkımızda söylenenler-->
        <section class="section parallax-container bg-black" data-parallax-img="">
            <div class="parallax-content">
                <div class="section-60 section-md-90 section-xl-120">
                    <div class="container text-center">
                        <div class="row row-40 justify-content-lg-center">
                            <div class="col-sm-12">
                                <h3>Hakkımızda Söylenenler</h3>
                            </div>

                            <div class="col-lg-11 col-xl-9">
                                <div class="owl-carousel-inverse">
                                    <div class="owl-carousel owl-nav-position-numbering" data-autoplay="true" data-items="1" data-stage-padding="0" data-loop="false" data-margin="30" data-nav="true" data-numbering="#owl-numbering-1" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                        @foreach (var item in ViewBag.v2)
                                        {
                                            <div class="item">

                                                <blockquote class="quote-minimal quote-minimal-inverse">

                                                    <div class="quote-body">
                                                        <p>
                                                            <q>@item.Description</q>
                                                        </p>
                                                    </div>
                                                    <div class="quote-meta">
                                                        <cite>@item.Author</cite>
                                                        <p class="caption">@item.Job</p>
                                                    </div>

                                                </blockquote>

                                            </div>
                                        }

                                    </div>
                                    <div class="owl-numbering owl-numbering-default" id="owl-numbering-1">
                                        <div class="numbering-current"></div>
                                        <div class="numbering-separator"></div>
                                        <div class="numbering-count"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Neden biz-->
        @{
            var whyChooseUsList = ViewBag.v3 as List<WhyChooseUsDTO>; // YourItemType, ViewBag.v3 içindeki öğelerin türüne göre değiştirilmelidir.
        }

        <section class="bg-whisper">
            <div class="container">
                <div class="inset-md-left-100">
                    <br />
                    <h3>Neden Bizi Seçmelisiniz</h3>
                </div>
                <div class="row align-items-start">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-60 section-md-90">
                                
                                @foreach (var item in whyChooseUsList.Where((value, i) => i % 2 == 0))
                                {
                                    <div class="inset-md-left-30 inset-md-right-30">
                                        <ul class="list-xl">
                                            <li>
                                                <article class="icon-box-horizontal">
                                                    <div class="unit unit-horizontal unit-spacing-md">
                                                        <div class="unit-left"><span class="@item.LogoText"></span></div>
                                                        <div class="unit-body">
                                                            <h5><a href="#" class="myLink">@item.Title</a></h5>
                                                            <p class="bigger-text-p">@item.Description</p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!-- İkinci sütun içeriği -->
                            <div class="section-60 section-md-90">
                                @foreach (var item in whyChooseUsList.Where((value, i) => i % 2 != 0))
                                {
                                    <div class="inset-md-left-30 inset-md-right-30">
                                        <ul class="list-xl">
                                            <li>
                                                <article class="icon-box-horizontal">
                                                    <div class="unit unit-horizontal unit-spacing-md">
                                                        <div class="unit-left"><span class="@item.LogoText"></span></div>
                                                        <div class="unit-body">
                                                            <h5><a href="#" class="myLink">@item.Title</a></h5>
                                                            <p class="bigger-text-p">@item.Description</p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>







    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/AboutContact/js/core.min.js"></script>
    <script src="~/AboutContact/js/script.js"></script>

</body>
</html>


