@using Microsoft.Web.Helpers;
@using Lawyer.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@model ContactPageViewModel


<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
   
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic%7CLato:300,300italic,400,400italic,700,900%7CMerriweather:700italic">
    <link rel="stylesheet" href="~/css/fontsabout.css">
   @* <link rel="stylesheet" href="~/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/css/styleabout.css">
    <link rel="stylesheet" href="~/judge-master/css/ionicons.min.css">
    <script src="~/Scripts/jQuery-1.6.4.js" type="text/javascript"></script>

</head>
<body>

    <div class="page">
        
        <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(/AboutContact/images/bg-image-1.jpg);">
            <div class="container">
                <div class="">
                    <h2>İletişim</h2>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/Default/Index">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span>İletişim<i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </section>

        <section class="section-60 section-md-top-90 section-md-bottom-100">
            <div class="container">
                <div class="row row-50 justify-content-lg-between">
                    <div class="col-lg-5 col-xl-4">
                        <div class="inset-lg-right-15 inset-xl-right-0">
                            <div class="row row-30 row-md-40">
                                <div class="col-md-10 col-lg-12">
                                    <h3>Bize Nasıl Ulaşabilirsiniz ?</h3>
                                    <p class="text-secondary">
                                        Eğer herhangi bir sorunuz varsa, sadece iletişim formunu doldurun ve kısa sürede size cevap vereceğiz. Eğer yakınımızda yaşıyorsanız, ofislerimizde bizi ziyaret edebilirsiniz.

                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <h5>Adres</h5>
                                    <address class="contact-info">
                                        <p class="text-uppercase">@Model.ContactPageData.OfficeAdress.</p>
                                        <dl class="list-terms-inline">
                                            <dt>Telefon</dt>
                                            <dd><a class="link-secondary" href="tel:@Model.ContactPageData.OfficeTelephone">@Model.ContactPageData.OfficeTelephone</a></dd>
                                        </dl>
                                        <dl class="list-terms-inline">
                                            <dt>E-mail</dt>
                                            <dd><a class="link-primary" href="mailto: @Model.ContactPageData.OfficeMail">@Model.ContactPageData.OfficeMail</a></dd>
                                        </dl>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <h3>İletişime Geçin</h3>
                        @await Html.PartialAsync("~/Views/Messages/AddMessage.cshtml",Model.PracticeAreas)
                    </div>
                </div>
            </div>
        </section>
        @if (@Model.ContactPageData.MapAdress != null)
        {
            <section>
                <iframe src="@Model.ContactPageData.MapAdress" width="1920" height="620" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        }
       


    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/AboutContact/js/core.min.js"></script>
    <script src="~/AboutContact/js/script.js"></script>
</body>
</html>


























@*<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Contact us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic%7CLato:300,300italic,400,400italic,700,900%7CMerriweather:700italic">
    <link rel="stylesheet" href="~/css/fontsabout.css">
    <link rel="stylesheet" href="~/css/bootstrapabout.css">
    <link rel="stylesheet" href="~/css/styleabout.css">


</head>
<body>

    <div class="page">


        <section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(/judge-master/images/bg_1.jpg);">
            <div class="container">
                <div class="page-title">
                    <h2>İletişim</h2>
                </div>
            </div>
        </section>

        <section class="section-60 section-md-top-90 section-md-bottom-100">
            <div class="container">
                <div class="row row-50 justify-content-lg-between">
                    <div class="col-lg-5 col-xl-4">
                        <div class="inset-lg-right-15 inset-xl-right-0">
                            <div class="row row-30 row-md-40">
                                <div class="col-md-10 col-lg-12">
                                    <h3>Nasıl Bize Ulaşabilirsiniz ?</h3>
                                    <p class="text-secondary">
                                        Eğer herhangi bir sorunuz varsa, sadece iletişim formunu doldurun ve kısa sürede size cevap vereceğiz. Yakınımızda yaşıyorsanız, ofislerimizden birinde ziyaret edin.

                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <h5>Office 1</h5>
                                    <address class="contact-info">
                                        <p class="text-uppercase">9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.</p>
                                        <dl class="list-terms-inline">
                                            <dt>Telephone</dt>
                                            <dd><a class="link-secondary" href="tel:#">+1 800 603 6035</a></dd>
                                        </dl>
                                        <dl class="list-terms-inline">
                                            <dt>E-mail</dt>
                                            <dd><a class="link-primary" href="mailto:#">mail@demolink.org</a></dd>
                                        </dl>
                                    </address>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6">

                        @await Html.PartialAsync("~/Views/Messages/AddMessage.cshtml",Model)
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="google-map-container" data-zoom="5" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;lightness&quot;:33}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2e5d4&quot;}]},{&quot;featureType&quot;:&quot;poi.park&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#c5dac6&quot;}]},{&quot;featureType&quot;:&quot;poi.park&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;lightness&quot;:20}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:20}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#c5c6c6&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#e4d7c6&quot;}]},{&quot;featureType&quot;:&quot;road.local&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#fbfaf7&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;color&quot;:&quot;#acbcc9&quot;}]}]" data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png">
                <div class="google-map"></div>
                <ul class="google-map-markers">
                    <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow"></li>
                </ul>
            </div>
        </section>


    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>*@