@model Entities.DTOs.BlogDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="pagetitle">
    <h1>Blog Detayı</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/">Ana Sayfa</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Blogs/Index">Bloglar</a></li>
            <li class="breadcrumb-item active">@Model.BlogTitle</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row align-items-top">



        <div class="col-lg-12">

            <!-- Fotoğraf Başlık -->

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        @if (Model.BlogPhoto != null)
                        {
                            <img src="~/Images/Blogs/@Model.BlogPhoto" class="card-img-top" alt="blog resmi">
                        }
                        else
                        {
                            <img src="~/niceadmin/assets/img/card.jpg" class="card-img-top" alt="blog resmi">
                        }

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@Model.BlogTitle</h5>
                            <p class="card-text">Kategori : @Model.CategoryName</p>
                            <p class="card-text">Yazar : @Model.AuthorFullName </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Giriş  -->
            <div class="card">
                <div class="card-header">Giriş</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                   @Html.Raw( @Model.BlogDescription)
                </div>

            </div>
             <!-- İçerik -->
            <div class="card">
                <div class="card-header">İçerik</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    @Html.Raw(@Model.BlogContent)
                </div>

            </div>

            <!--İşlemler -->
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Dikkatli olun silme işlemi geri alınamaz.</h5>
                    <p class="card-text"></p>
                    <a href="/Admin/Blogs/Edit/@Model.BlogId" class="btn btn-info">Güncelle</a>
                    <a href="/Admin/Blogs/Delete/@Model.BlogId" class="btn btn-danger">Sil</a>
                </div>
            </div>

        </div>

    </div>
</section>

