@model Tuple<Blog ,List<BlogCategory>>

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="pagetitle">
    <h1>Güncelle</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/">Ana Sayfa</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Blogs/Index">Bloglar</a></li>
            <li class="breadcrumb-item active">@Model.Item1.Title</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" method="post">
            <div ></div>
            <div class="form-group">
                <p> Id </p>
                
                <input readonly="readonly" asp-for="@Model.Item1.BlogId" class="form-control" name="BlogId" value="@Model.Item1.BlogId" />
                
            </div>
            <div class="form-group">
                <p> Yazar </p>
                
                <input readonly="readonly" asp-for="@Model.Item1.AuthorId" class="form-control" name="AuthorId" value="@Model.Item1.AuthorId" />
                
            </div>
            <div class="form-group">
                <p>Kategori</p>
                
                <select class="form-control" name="CategoryId" id="CategoryId">
                    @foreach (var category in Model.Item2)
                    {
                        <option value="@category.Id" selected="@(Model.Item1.CategoryId == category.Id)">
                            @category.Name
                        </option>
                    }
                </select>
               
            </div>

            <div class="form-group">
                <p>Başlık  </p>
               
                <input asp-for="@Model.Item1.Title" class="form-control" name="Title" value="@Model.Item1.Title" />
                
            </div>
            <div class="form-group">
                <p>Giriş</p>
                

                <textarea name="description" id="Description" rows="10" cols="80">
                    @Model.Item1.Description
            </textarea>



                
            </div>
            <div class="form-group">
                <p>İçerik  </p>
              
                <textarea asp-for="@Model.Item1.Content" name="Content" id="content" rows="10" cols="80">
                    @Model.Item1.Content
                </textarea>

                
            </div>
            <div class="form-group">
                <p> Fotoğraf </p>
               
                <input asp-for="@Model.Item1.PhotoUrl" class="form-control" name="PhotoUrl" value="@Model.Item1.PhotoUrl" />
               
            </div>
           
            <div class="form-group">
                <p>Oluşturma Tarihi  </p>
                <textarea  readonly="readonly" asp-for="@Model.Item1.CreatedDate" class="form-control" name="CreatedDate" value="@ViewBag.CreatedDate">

                </textarea>
               
                
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/Blogs/Index">Blog Listesine Geri Dön</a>
</div>

<script>
    CKEDITOR.replace('Description');
    CKEDITOR.replace('Content');
</script>