@model Entities.Concrete.WhyChooseUs

@{
    ViewData["Title"] = "UpdateWhyChooseUs";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Güncelle</h1>

<h4>Neden Bizi Seçmelisiniz</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="UpdateWhyChooseUs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label >Id</label>
                <input readonly="readonly"asp-for=" Id" class="form-control" value="@Model.Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Başlık </label>
                <input asp-for="Title" class="form-control" value="@Model.Title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> İçerik</label>
                <textarea asp-for="Description" class="form-control"rows="5" cols="60">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label>Logo</label>
                <label><div style="font-size:3rem;" class="unit-left"><span class="@Model.LogoId"></span></div></label>
                <select asp-for="LogoId"  class="form-control">
                    @foreach (var item in ViewBag.logos)
                    {
                        <option value="@item.Id">-- @item.Name --</option>
                    }
                   

                </select>


            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-2">
        
        <label>Logolar</label>

        @foreach (var item in ViewBag.Logos)
        {
            <div class="form-group">

                <label>@item.Name</label>
                <label style="font-size:3rem;" class="unit-left"><span class="@item.Logo"></span> </label>
            </div>
        }
   
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

